@tailwind base;
@tailwind components;
@tailwind utilities;

.window-mask {
  --maskScale: 1%;

  mask-image: linear-gradient(black,black), url("/blob.svg");
  mask-repeat:no-repeat ;
  mask-size: 100% 100%, var(--maskScale);
  mask-position: 0 , center;
mask-composite: exclude
;}

